cleanup = true

params {
    /*out_dir = './output'*/
    report_dir = './reports'
    custom_config_version       = 'master'
    custom_config_base          = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"

    try {
    	includeConfig "${params.custom_config_base}/conf/sanger.config"
    } catch (Exception e) {
    	System.err.println("WARNING: Could not load nf-core/config profiles: ${params.custom_config_base}/conf/sanger.config")
    }
}

profiles {
  local {
    includeConfig 'conf/base.config'
    process.executor = 'local'
  }

  lsf {
    includeConfig 'conf/lsf.config'
  }

  seg_lsf_3d {
    includeConfig 'conf/lsf.config'
    manifest.mainScript = 'cellpose.nf'
  }

  seg_local_3d {
    includeConfig 'conf/base.config'
    manifest.mainScript = 'cellpose.nf'
  }
}
