process {
  maxForks = 10
  maxRetries = 2
  maxErrors = '-1'
  errorStrategy = { task.exitStatus in 130..140 ? 'retry' : 'terminate' }
  maxRetries = 5
  memory = { 70.GB * task.attempt }

  // Capture exit codes from upstream processes when piping
  shell = ['/bin/bash', '-euo', 'pipefail']

  // Process-specific resource requirements
}

docker.enabled = true
singularity {
  enabled = false
  autoMounts = true
  runOptions = "--containall"
  cacheDir = '/lustre/scratch126/cellgen/team283/imaging_sifs/cache/'
}
