docker.enabled = false

singularity {
  enabled = true
  autoMounts = false
  runOptions = "--containall --bind /lustre --bind /nfs"
  cacheDir = '/lustre/scratch117/cellgen/team283/NXF_WORK'
}

process {

  withName : stitch {
    cpus 1
    memory { 100.GB * task.attempt }
    queue "imaging"
  }

  withName : slice {
    cpus 1
    memory { 100.GB * task.attempt }
    queue "imaging"
  }

  withName : cellpose_cell_segmentation_batch {
    cpus 10
    memory { 60.GB * task.attempt }
    queue "gpu-normal"

    maxForks 10

    clusterOptions = {" -gpu \"mode=shared:j_exclusive=no:gmem=12000:num=1\""}
  }

  withName : expand_label_image {
    cpus 1
    memory { 200.GB * task.attempt }
    queue "imaging"
  }
}
