docker {
  enabled = false
}

singularity {
  enabled = true
  autoMounts = true
  runOptions = "--containall"
  cacheDir = '/lustre/scratch117/cellgen/team283/NXF_WORK'
}

process.queue = 'imaging'

executor {
    name = 'lsf'
    // queueSize = 10
    // https://www.nextflow.io/docs/latest/executor.html#lsf
    perJobMemLimit = true
}
